<div class="container">
    <div class="column">
      {{#each card}}
      {{> codeCard }}
      {{/each}}
    </div>
    <div class="column">
      {{#each card}}
      {{> codeCard }}
      {{/each}}
    </div>
    <div class="column">
    {{#each card}}
    {{> codeCard }}
    {{/each}}
    </div>
</div>