<a class="c-wall-row" href="/codeCard/{{id}}">
    <div class="c-wall-item">
    <h2>Code</h2>
    <h5>{{date}}</h5>
    <p>
      Project: {{project}} <span>( {{commits}} )</span>
    </p>
  </div>
</a>