<div class="c-content">
  <h2>Log a new running activity:</h2>
  <form class="c-form" action="/runCard" method="post">
      <div class="c-form__item">
        <h4 class="c-form__title">Date:</h4>
        <input type="text" name="date" value="">
      </div>
      <div class="c-form__item">
        <h4 class="c-form__title"> Distance (miles): </h4>
        <input type="text" name="distance" value="">
      </div>
      <div class="c-form__item">
        <h4 class="c-form__title">Total Time (minutes):</h4>
        <input type="text" name="timeSpent" value="">
      </div>
      <div class="c-form__item">
        <h4 class="c-form__title">Mile Pace (average mile time as per running app):</h4>
        <input type="text" name="pace" value="">
      </div>
      <div class="c-form__item">
        <button type="submit" name="submit">Submit</button>
      </div>
  </form>
</div>
