<div class="c-content">
  <h2>Run</h2>
  <p>
    {{runCard.date}}
  </p>
  <p>
    Your ran {{runCard.distance}} miles over the course of {{runCard.timeSpent}} minutes
  </p>
  <p>
    As per your running app, that's a {{runCard.pace}} average mile time
  </p>
</div>
