<div class="c-content">
  <h2> Read </h2>
    <p>{{readCard.date}}
    </p>
    <p>
      You read {{readCard.pagesRead}} page(s) in {{readCard.bookTitle}}.
    </p>
    <p>
      You spent {{readCard.timeSpent}} minutes reading.
    </p>
</div>
