<div class="c-content">
  <h2> Read </h2>
    <h3>{{readCard.date}}</h3>
    <p>
      You read {{readCard.pagesRead}} pages in {{readCard.bookTitle}}.
    </p>
    <p>
      You spent {{readCard.timeSpent}} minutes reading.
    </p>
</div>
