<div class="c-content">
  <h2>Code</h2>
  <h3>You go, Glen Co(de)co</h3>
  <p>
    {{codeCard.date}}
  </p>
  <p>
    You made {{codeCard.commits}} public commits on your {{codeCard.project}} repository.
  </p>
</div>
