<div class="c-content">
  <h2>Log a new code activity:</h2>
  <form class="c-form" action="/codeCard" method="post">
      <div class="c-form__item">
        <h4 class="c-form__title">Date:</h4>
        <input type="text" name="date" value="">
      </div>
      <div class="c-form__item">
        <h4 class="c-form__title"> Commits: </h4>
        <input type="number" name="commits" value="">
      </div>
      <div class="c-form__item">
        <h4 class="c-form__title">Project:</h4>
        <input type="text" name="project" value="">
      </div>
      <div class="c-form__item">
        <button type="submit" name="submit">Submit</button>
      </div>
  </form>
</div>
