<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> ReadCodeRun </title>
    <link rel="stylesheet" href="/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.2/nv.d3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" />

   <!--  <link href="styles/nv.d3.css" rel="stylesheet" type="text/css">
    <script src="lib/d3.v3.js"></script>
    <script src="src/nv.d3.js"></script>
 -->

  </head>
  <body>
    <div class="c-header">
      <h1><a href="/"> ReadCodeRun </a></h1>
      <div align="right">
        Log a New 
      <a href="/readCards/new" class="c-link">Read</a>
      <a href="/codeCards/new" class="c-link">Code</a>
      <a href="/runCards/new" class="c-link">Run</a>
      Activity
    </div>
    </div>
  </div>

<!-- <div>

  <h1>This is where the d3 chart belongs</h1>
  <svg style='height:200px'/>
  <script src="mychart.js"></script>
</div>
 -->


    {{{ body }}}

    <footer>
      <div class="c-content">
        <a href="https://twitter.com/josephofiowa"> Created by @josephofiowa</a>
      </div>
    </footer>
    <script src="/main.js"></script>
  </body>
</html>