<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> ReadCodeRun </title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="c-header">
      <h1><a href="/"> ReadCodeRun </a></h1>
      <div align="right">
        Log a New 
      <a href="/runCards/new" class="c-link">Run</a>
      <a href="/codeCards/new" class="c-link">Code</a>
      <a href="/readCards/new" class="c-link">Read</a>
      Activity
    </div>
    </div>
  </div>

<!--   <div class="c-content __centered">
  </div> -->
   
    {{{ body }}}


    <footer>
      <div class="c-content">
        <a href="https://twitter.com/josephofiowa"> Created by @josephofiowa</a>
      </div>
    </footer>
    <script src="/main.js"></script>
  </body>
</html>